<fieldset>
    <legend><%= header %></legend>
    <% if (typeof data !== "undefined") { %>
        <% data.forEach(item => { %>
            <div>
                <label for="<%= item.name %>"><%= item.name %></label>
                <input type="checkbox" name="<%= header %>" id="<%= item.name %>" value="<%= item.id %>" checked=<%= item.hasOwnProperty("checked") ? item.checked : false %>>
            </div>
        <% }) %>
    <% } else { %>
        <p>No <%= header.toLowerCase() %> found</p>
    <% } %>
</fieldset>